<template>
    <div v-bind:class="'alert alert-'+ (type || 'warning') +' alert-dismissible fade show'" role="alert">
            <i v-bind:class="(icon || 'fa fa-exclamation-triangle')" aria-hidden="true"></i>
            {{ message }}
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</template>

<script>
    export default {
        props:['type', 'message', 'icon']
    }
</script>