<template>
    <ckeditor v-bind:id="id" name="content" :value="defineContent" v-bind:config="{
                        toolbar: [[ 'Styles', 'Format', 'Font', 'FontSize', '-', 'TextColor', 'BGColor', '-','Bold', 'Italic', 'Underline', 'Strike', 'Subscript', 'Superscript', 'Custom Button','-', 'NumberedList', 'BulletedList', '-', 'Outdent', 'Indent', '-', 'JustifyLeft', 'JustifyCenter', 'JustifyRight', 'JustifyBlock', '-',  'Link', 'Unlink', 'Anchor', '-', 'Undo', 'Redo','-', 'Blockquote', 'RemoveFormat', '-', 'Maximize', 'ShowBlocks', 'Source' ]],
                        height: 200}">
    </ckeditor>
</template>

<script>
    import Ckeditor from 'vue-ckeditor2'

    export default {
        props: ['content','names', 'id'],
        computed: {
          defineContent: function() {
            if(this.content) {
                return this.content;
            }
          }
        },
        data () {
            return {
                content:this.contents,
            }
        },
        components: { Ckeditor }
    }
</script>