<template>
    <div class="container">
        <div class="row justify-content-center">
            <div v-bind:class="defineSize">
                <slot></slot>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['size'],
        computed: {
            defineSize:function() {

                if(this.size > 12) {
                    this.size = 12;
                } else if(this.size < 1) {
                    this.size = 1;
                }

                if((this.size % 2) !== 0) {
                    this.size++;
                }

                let offSet = 0;

                if(this.size < 12) {
                    offSet = ( 12 - this.size ) / 12;
                }

                return 'col-md-'+ this.size +' offset-md-' + offSet;
            }
        }
    }
</script>