<template>
    <div class="card">
        <div v-bind:class="defineBg">{{ title }}</div>

        <div class="card-body">
            <slot></slot>
        </div>
    </div>
</template>

<script>
    export default {
        props:['title','bg', 'text_color'],
        computed: {
            defineBg: function() {
                return "card-header text-"+ (this.text_color || "white" ) +" bg-"+ ( this.bg || "light" );
            }
        }
    }
</script>

<style>
    .bg-blade {
        background-color: #9928a7 !important;
    }
</style>