<template>
    <div v-bind:class="'col-md-' + grid">
        <div class="card mb-4">
            <img class="card-img-top" src="https://i.ytimg.com/vi/SfLV8hD7zX4/maxresdefault.jpg" alt="Card image cap">
            <div class="card-body">
                <p class="card-text text-right"><small class="text-muted">{{ date }} | {{ autor }}</small></p>
                <h5 class="card-title">{{ title }}</h5>
                <p class="card-text">{{ resume }}</p>
                <a v-bind:href="url" class="btn btn-primary">{{ label }}</a>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['title', 'img', 'label', 'author', 'date','resume', 'grid', 'url'],
    }
</script>