<template>
    <div>
        <div class="row">
            <div class="col-md-12 d-inline-flex row">
                <div class="col-md-2">
                    <a v-if="create && !modal"  v-bind:href="create">
                        <button class="btn btn-success mb-3"><i class="fa fa-edit"></i> Novo</button>
                    </a>
                    <modal-button v-if="modal" name="createModal" label="Novo" icon="fa fa-plus" css="btn-success"></modal-button>
                </div>
                <div class="col-md-3 offset-md-7 float-right">
                    <div class="form-group mb-3">
                        <input type="search" class="form-control" placeholder="Filtrar" v-model="search"/>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th style="cursor: pointer" v-on:click="orderColumns(id)" v-for="(title, id) in titles">{{ title }} <i class="fa fa-fw fa-sort"></i></th>
                        <th v-if="details || edit || exclude">Ação</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr v-for="(item,id) in list">
                        <td v-for="list in item">{{list}}</td>
                        <td v-if="details || edit || exclude">
                            <form v-bind:id="id" v-if="exclude && token" v-bind:action="exclude + '/' + item.id" method="post">
                                <input type="hidden" name="_method" value="DELETE">
                                <input type="hidden" name="_token" v-bind:value="token">
                                <a v-if="details && !modal" v-bind:href="details">
                                    <button class="btn btn-sm btn-secondary"><i class="ion ion-grid"></i> Detalhes</button>
                                </a>
                                <modal-button v-if="modal" name="detailsModal" v-bind:item="item" v-bind:url="details" label="Detalhes" icon="ion ion-grid" css="btn-secondary btn-sm"></modal-button>
                                <a v-if="edit && !modal" v-bind:href="edit">
                                    <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar</button>
                                </a>
                                <modal-button v-if="edit && modal" name="editModal" v-bind:item="item"  v-bind:url="edit" label="Editar" icon="fa fa-edit" css="btn-primary btn-sm"></modal-button>
                                <a href="#" v-on:click="executeForm(id)">
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Excluir</button>
                                </a>
                            </form>
                            <span v-if="!token">
                                <a v-if="details && !modal" v-bind:href="details">
                                    <button class="btn btn-sm btn-secondary"><i class="ion ion-grid"></i> Detalhes</button>
                                </a>
                                <modal-button v-if="modal" name="detailsModal" v-bind:item="item" v-bind:url="details" label="Detalhes" icon="ion ion-grid" css="btn-secondary btn-sm"></modal-button>
                                <a v-if="edit && !modal" v-bind:href="edit">
                                    <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar</button>
                                </a>
                                <modal-button v-if="edit && modal" name="editModal" label="Editar" v-bind:item="item" v-bind:url="edit" icon="fa fa-edit" css="btn-primary btn-sm"></modal-button>
                                <a v-if="exclude" v-bind:href="exclude">
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Excluir</button>
                                </a>
                            </span>
                            <span v-if="token && !exclude">
                                <a v-if="details && !modal" v-bind:href="details">
                                    <button class="btn btn-sm btn-secondary"><i class="ion ion-grid"></i> Detalhes</button>
                                </a>
                                <modal-button v-if="modal" name="detailsModal" v-bind:item="item" v-bind:url="details" label="Detalhes" icon="ion ion-grid" css="btn-secondary btn-sm"></modal-button>
                                <a v-if="edit && !modal" v-bind:href="edit">
                                    <button class="btn btn-sm btn-primary"><i class="fa fa-edit"></i> Editar</button>
                                </a>
                                <modal-button v-if="edit && modal" name="editModal" label="Editar" v-bind:item="item" v-bind:url="edit" icon="fa fa-edit" css="btn-primary btn-sm"></modal-button>
                                <a v-if="exclude" v-bind:href="exclude">
                                    <button class="btn btn-sm btn-danger"><i class="fa fa-trash"></i> Excluir</button>
                                </a>
                            </span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['titles', 'items', 'orderby', 'ordercol', 'create', 'details', 'edit', 'exclude', 'token', 'modal'],
        // Quando há necessidade de criar variáveis dinâmicas
        data:function(){
          return {
              search: '',
              order: this.orderby || 'asc',
              colorder: this.ordercol || 0
          }
        },
        methods: {
            // Executar o delete com token enviando id do form
            executeForm:function(id) {
                $("#"+id).submit();
            },
            // Ordernar colunas
            orderColumns:function(column) {
                this.colorder = column;
                if(this.order.toLowerCase() === 'asc') {
                    this.order = 'desc';
                } else {
                    this.order = 'asc';
                }
            }
        },
        computed: {
            list:function() {

                let list = this.items.data;
                // Ordenações da tabela
                let orderBy = this.order;
                let orderCol = this.colorder;

                orderBy = orderBy.toLowerCase();
                orderCol = parseInt(orderCol);

                if(orderBy === 'asc') {
                    // Ordenação por ordem crescente
                    list.sort(function(a,b){
                        let first   = Object.values(a)[orderCol];
                        let second  = Object.values(b)[orderCol];
                        if(first < second) { return 1;}
                        if(second > first) { return -1;}
                        return 0;
                    });
                } else {
                    // Ordenação por ordem decrescente
                    list.sort(function(a,b){
                        let first   = Object.values(a)[orderCol];
                        let second  = Object.values(b)[orderCol];
                        if(first > second) { return 1;}
                        if(second < first) { return -1;}
                        return 0;
                    });
                }

                if(this.search) {
                    // Faz o filtro de busca da tabela
                    return list.filter(rsp => {
                        rsp = Object.values(rsp);
                        for(let i=0; i < rsp.length; i++) {
                            if((rsp[i] + "").toLowerCase().indexOf(this.search.toLowerCase()) >= 0) {
                                return true;
                            }
                        }
                        return false;
                    });
                } else {
                    return list;
                }
            }
        }
    }
</script>