<template>
    <div v-bind:id="name" class="modal fade" tabindex="-1" role="dialog" v-bind:aria-labelledby="name" aria-hidden="true">
        <div v-bind:class="'modal-dialog modal-' + size" role="document">
            <div class="modal-content">
                <div v-if="title" class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">{{ title }}</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <slot></slot>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Fechar</button>
                    <slot name="buttons"></slot>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props:['name', 'size', 'title']
    }
</script>