<template>
    <span>
       <span v-if="item">
        <button v-on:click="updateItems()" type="button" v-bind:class="'btn '+css" data-toggle="modal" v-bind:data-target="'#'+name">
            <i v-if="icon" v-bind:class="icon"></i> {{ label }}
        </button>
    </span>
    <span v-if="!item">
        <button type="button" v-bind:class="'btn '+css" data-toggle="modal" v-bind:data-target="'#'+name">
            <i v-if="icon" v-bind:class="icon"></i> {{ label }}
        </button>
    </span>
    </span>
</template>

<script>
    export default {
        props:['name', 'label', 'icon', 'css','item', 'url'],
        methods: {
            updateItems:function() {
                // Requisição da URL
                axios.get(this.url + '/' + this.item.id).then(res => {
                    this.$store.commit('setItems', res.data)
                });
                //this.$store.commit('setItems', this.item)
            }
        }
    }
</script>